html, body
{
	padding: 0;
	margin: 0;
    font-family: "public" sans-serif;
	background-color: #B8CBD0;
	-ms-overflow-style: none;  /* IE and Edge */
	scrollbar-width: none;
}
html::-webkit-scrollbar, body::-webkit-scrollbar
{
  display: none;
}
.nav_barre
{
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: space-around;
    background:#137C8B;
	height: 111px;
}
h2{
    color: #137C8B;
}
a{
    margin: 15px;
    text-decoration: none;
    color: #fff;
    
}

button{
    margin: 15px;
    width: 40px;
    height: 30px;
    display: flex;
    justify-content: center;
    align-self: center;
    align-items: center;
    border:solid 2px #137C8B;
    border-radius:20px ;
    background-color: #137C8B;
    color: #fff;
}
.nav-barre{
    
    display: flex;
    justify-content: space-between;
    margin-bottom: 25px;
    align-items: center;
    background-color: #137C8B;
    color: #fff;
}
.section-img{
    display: flex;
    justify-content: center;
    margin: 25px;
    padding: 25px;
}
#canards_groupe
{
    display: flex;
    justify-content: center;
    align-items: center;
	box-shadow: 0 5px 15px #344D59;
	border-radius: 25px;
}

.section-equipe{
    display: flex;
    flex-direction: column;
    justify-content: center;
    text-align: center;
    gap: 30px;
    margin-bottom: 25px;
}

#cards{
    max-width: 100%;
    height: 100%;
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: center;
    gap: 15px;
}
.card-equipe{
    width: 250px;
    height: 500px;
    margin: 25px;
    display: flex;
    flex-direction: column;
    align-items: center;
    
}
.img-equipe{
    max-width: 200px;
}
.form{
    margin: 0;
    padding: 10px;
    border:solid 2px #137C8B;
    border-radius: 10%;
    box-shadow: 0px 5px 15px 0px #344D59;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    align-items: center;
    gap: 10px;
}

#bouton-validation1{
    width: 100px;
    height: 40px;
    border:solid 2px #137C8B;
    border-radius:20px ;
    background-color: #137C8B;
    color: #fff;
}
#bouton-validation2{
    width: 100px;
    height: 40px;
    border:solid 2px #137C8B;
    border-radius:20px ;
    background-color: #137C8B;
    color: #fff;
}
#bouton-validation3{
    width: 100px;
    height: 40px;
    border:solid 2px #137C8B;
    border-radius:20px ;
    background-color: #137C8B;
    color: #fff;
}
