.section-equipe{
    display: flex;
    flex-direction: column;
    justify-content: center;
    text-align: center;
    gap: 30px;
    margin-bottom: 25px;
}
#cards{
    max-width: 1440px;
    height: 100%;
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: center;
    gap: 15px;
}
.card-equipe{
    max-width: 350px;
    margin: 25px;
    display: flex;
    flex-direction: column;
    align-items: center;
    
}
.img-equipe{
    max-width: 200px;
}
.form{
    margin: 0;
    padding: 10px;
    border:solid 2px #137C8B;
    border-radius: 10%;
    box-shadow: px 5px 15px 0px #344D59;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    align-items: center;
    gap: 10px;
}

#bouton-validation1{
    width: 100px;
    height: 40px;
    border:solid 2px #137C8B;
    border-radius:20px ;
    background-color: #137C8B;
    color: #fff;
}
#bouton-validation2{
    width: 100px;
    height: 40px;
    border:solid 2px #137C8B;
    border-radius:20px ;
    background-color: #137C8B;
    color: #fff;
}
#bouton-validation3{
    width: 100px;
    height: 40px;
    border:solid 2px #137C8B;
    border-radius:20px ;
    background-color: #137C8B;
    color: #fff;
}
