*{
   box-sizing: border-box; 
}
body{
    margin: 0 auto;
    padding: 0;
    max-width: 1440px;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    background-color:#B8CBD0 ;
    font-family:"Public Sans", sans-serif ;
}
h2{
    color: #137C8B;
}
a{
    margin: 15px;
    text-decoration: none;
    color: #fff;
    
}

button{
    margin: 15px;
    width: 40px;
    height: 30px;
    display: flex;
    justify-content: center;
    align-self: center;
    align-items: center;
    border:solid 2px #137C8B;
    border-radius:20px ;
    background-color: #137C8B;
    color: #fff;
}
.nav-barre{
    
    display: flex;
    justify-content: space-between;
    margin-bottom: 25px;
    align-items: center;
    background-color: #137C8B;
    color: #fff;
}
.section-img{
    display: flex;
    justify-content: center;
    margin-bottom: 25px;
}


