body{
 background-color: #B8CBD0;
}
.nav-barre{
    margin-bottom:25px;
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: space-around;
    background:#137C8B;
}


#canards-groupe{
    margin: 50px;
    display: flex;
    justify-self: center;
    align-items: center;
    
}
.options-menu{
    text-decoration: none;
}


